*{ margin: 0; padding: 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
html, body{ width: 100%; height: 100%; }
ul{ list-style: none; }
a{ text-decoration: none; }

body{ background: #bbbcc1 url(../images/main-bg.jpg) repeat-y center 0; }

#wrap{ position: relative; soverflow: hidden; }

.container{ min-width: 360px; max-width: 940px; margin: auto; position: relative; }
.row{ position: relative; }
.row:before{ content: " "; display: table; }
.row:after{ content: " "; display: table; clear: both; }

.span{ float: left; }
.pull-right{ float: right; text-align: right; }

.header{ width: 100%; height: 98px; background: #060026 url(../images/purple-bg.jpg) repeat-y center 0; padding-top: 10px; } 

.logo{ float: left; }
.call-order{ float: right; padding-top: 11px; text-align: right; }
.call-order p{ font: 32px 'KelsonSans'; color: #fff; padding-bottom: 2px;}
.call-order a{ font: 18px 'KelsonSans'; color: #ffd00f; text-transform: uppercase;  margin-right: 2px; position: relative;}
.call-order a:after{content:''; position: absolute; bottom: 0px; left:0; width: 100%; height: 1px; border-bottom: 1px dotted #ffd00f;}
.call-order a:hover:after{ border: none; }

#content{ margin-top: 17px; }
#content h1{ font: 35px 'KelsonSans'; font-weight: 700; color: #493289; text-transform: uppercase; text-align: center; margin-bottom: 15px;   line-height: 35px;}
#content h1.new_title_one{
	padding-left:7px; font-size:28px;
}

.content{ overflow: hidden; }
.banner{ height: 539px; padding-top: 30px; background: url(../images/banner-bg.jpg) center center; }

.banner-row{ margin: 0 -5px; }
.banner-img-span{ padding: 0 5px; width: 630px; }
.banner-img-span img{ position: relative; top: -80px; }
.new_banner1 img{ top: -89px; left: -19px;}
.banner-form-span{ padding: 0 5px; width: 320px; }
.banner-form{ height: 460px; background: rgba(255,255,255,.9); overflow: hidden; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; -o-border-radius: 5px; }
.banner-form-upper{ padding: 15px; text-align: center; padding-top: 26px;padding-bottom: 11px;}
.banner-form-upper h2{ font: 32px 'KelsonSans'; font-weight: 700; color: #4a338b; text-transform: uppercase; padding-left: 2px;}
.banner-form-upper p{ font: 15px 'Open Sans'; color: #353535; margin-top: 6px; line-height: 19px; padding-left: 2px;}
.input{ display: block; padding: 10px; padding-left: 47px; width: 270px; border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; border: 1px solid #4a338b; background: #fff url(../images/input-icons.png) no-repeat; margin: auto;  margin-top: 10px; font: 16px 'Open Sans'; padding-bottom: 13px;padding-top: 11px;} 
.banner-form-upper form{
	padding-top: 6px;
}
.name-input{ background-position: 12px 12px; }
.tel-input{ background-position: 12px -46px;}
.banner-btn{ display: block; width: 270px; height: 60px; background: url(../images/banner-btn.png) no-repeat; margin: auto; border: none; margin-top: 10px; font: 23px 'KelsonSans'; font-weight: 700; color: #000; text-transform: uppercase; text-align: center; padding-top: 11px; opacity: .95; }
.banner-btn:hover{ opacity: 1; }
.banner-form .banner-btn{ opacity: 1 }
.banner-form .banner-btn:hover{ opacity: .85}
.banner-lower{ height: 150px; background: #f4d01d; padding: 20px; text-align: center; }
.banner-lower h2{ font: 22px 'KelsonSans'; color: #7a2323; line-height: 25px;}
.timer{ width: 222px; height: 60px; margin: auto; background: url(../images/timer.png) no-repeat; margin-top: 13px;
margin-left: 18px;}
.time-row{ margin: 0 -9px; }
.time-span{ padding: 0 9px; position: relative; }
.time{ width: 42px; height: 42px; background: #473186; font: 24px 'KelsonSans'; line-height: 42px; color: #ffe879; border: 1px solid #ffe879; border-radius: 10px; -webkit-border-radius: 10px; -moz-border-radius: 10px; -o-border-radius: 10px; }
.time-span:after{ content: ':'; font: 24px 'KelsonSans'; color: #473186; position: absolute; right: -2px; top: 5px; }
.time-span:last-child:after{ content: ''; }
.time-span:last-child .time{ background: #902100; }

#section2{ height: 690px; background: #060026 url(../images/purple-bg.jpg) repeat-y; }
#section2 h1{ background: #fff;padding: 25px 0;margin: 0;}
.fitotigh-list{ height: 590px; padding-top: 15px; }
.star{ padding: 15px 0; position: relative; display: inline-block; }
.star span{ font: 24px 'KelsonSans'; color: #ffb601; float: left; }
.star p{ font: 21px 'KelsonSans'; color: #fff; float: left; position: relative; top: 3px; left: 5px; }
.star .line{ height: 20px; border-bottom: 1px dotted #fff; float: left; position: relative; }
.star .line.left{ left: 20px; }
.star .line.right{ right: 20px; }
#star1 .line{ width: 325px; }
#star1:after{ content: ''; width: 73px; height: 72px; background: url(../images/star1.png) no-repeat; position: absolute; right: -120px; top: 9px; }
#star2 .line{ width: 275px; }
#star2:after{ content: ''; width: 73px; height: 72px; background: url(../images/star2.png) no-repeat; position: absolute; right: -111px; top: 5px; }
#star3 {padding-top: 8px;}
#star3 .line{ width: 240px; }
#star3:after{ content: ''; width: 73px; height: 72px; background: url(../images/star3.png) no-repeat; position: absolute; right: -105px; top: 2px; }
#star4 .line{ width: 150px; }
#star4:after{ content: ''; width: 73px; height: 72px; background: url(../images/star4.png) no-repeat; position: absolute; right: -108px; top: 5px; }
#star5{padding-top: 11px;}
#star5 .line{ width: 173px; }
#star5:after{ content: ''; width: 73px; height: 72px; background: url(../images/star5.png) no-repeat; position: absolute; left: -117px; top: 1px; }
#star6 .line{ width: 297px; }
#star6{padding-top: 18px;}
#star6.star p{width:282px;}
#star6:after{ content: ''; width: 73px; height: 72px; background: url(../images/star6.png) no-repeat; position: absolute; left: -103px; top: 7px; }
#star7 .line{ width: 265px; }
#star7:after{ content: ''; width: 73px; height: 72px; background: url(../images/star7.png) no-repeat; position: absolute; left: -107px; top: 2px; }
#star8 .line{ width: 179px; }
#star8{padding-top: 18px;}
#star8:after{ content: ''; width: 73px; height: 72px; background: url(../images/star8.png) no-repeat; position: absolute; left: -105px; top: 5px; }
#star8.star p{width:638px;}
.div{ clear: both; width: 0; height: 0; }
#section3 .fitotigh-desc{padding-top: 22px;}
#section3{ height: 1050px; padding: 65px 0 90px 0; background: url(../images/diamonds-bg.jpg); text-align: center; }
#section3 h1{ font-weight: 400; float: left; font-size: 32px; word-spacing: -3px;}
#section3 .section-head{ display: inline-block; }
#section3 .section-head .line{ float: left; margin: 20px 28px; width: 70px; height: 1px; background: #4a338b; position: relative; top: -4px; }
.fitotigh{ height: 980px; }
.fitotigh-desc p{ font: 16px 'KelsonSans'; text-align: center; margin-left: -31px;}
.fitotigh-desc p.p2{ font: 16px 'KelsonSans'; text-align: center; margin-left: -29px;padding-top:2px;}
.fitotigh-desc p.p3{ font: 16px 'KelsonSans'; text-align: center; margin-left: -20px;}
.fitotigh-desc .divider{ margin: 8px 0; }
.fitotigh-items{ text-align: center; }
.fitotigh-row{ margin-top: 45px; margin-left: -25px; margin-right: -25px; display: inline-block; }
.fitotigh-span{ padding: 0 20px; }
.fitotigh-item{ width: 280px; text-align: center; background: url(../images/fitotigh-name-holder.png) no-repeat center 170px; }
.fitotigh-image{ position: relative; display: inline-block; height: 220px; }
.fitotigh-img{ width: 220px; height: 220px; border: 6px solid #493289; border-radius: 50%; -webkit-border-radius: 50%; -moz-border-radius: 50%; -o-border-radius: 50%; overflow: hidden; }
.fiimage{ width: 100%; height: 100%; border-radius: 50%; -webkit-border-radius: 50%; -moz-border-radius: 50%; -o-border-radius: 50%; overflow: hidden; }
.fitotigh-name{ background: url(../images/fitotigh-name-text.png) no-repeat; width: 200px; height: 50px; bottom: 0px; position: absolute; left: 0; right: 0; margin: auto; text-align: center; padding-top: 2px; }
.fitotigh-name span{ font: 14px 'KelsonSans'; }
.fitotigh-name h2{ font: 18px 'KelsonSans'; color: #4a338b; text-transform: uppercase; }
.fitotigh-text{ font: 14px 'KelsonSans'; margin-top: 5px;
line-height: 18px; }
.fitotigh-row:last-child{
	margin-top:33px;
}
 .fitotigh-text-mini{
 	 font: 12px 'KelsonSans'; color:#c2bdca;
 	 padding-bottom: 4px;
 }
 #section4{height: 539px;padding-top: 38px;}
  #section4 .banner-img-span img{
  	left: -407px;
top: -91px;
  }
 #section5 .section-head{
  	/*padding: 5px 0px 0 91px;*/
  }
  #section6 .section-head{}
#section5{ height: 840px; padding-top: 55px; background: url(../images/purple-bg.jpg) repeat-y; }
#section5 .section-head h1{ font: 37px 'KelsonSans' !important; font-weight: 400 !important; color: #ffd311 !important; margin-bottom: 0px !important; }
#section5 .section-head p{ font: 36px 'KelsonSans'; font-weight: 400; color: #ffd311; text-align: center; margin-top: 6px; }
.problems-list{ margin-top: 46px; }
.problems-list ul li span{ font: 24px 'KelsonSans'; color: #ffb601; font-weight: 700; 
float: left;
width: 31px;
text-align: right;
margin: 0 7px 0 0;
position: relative;
top: -2px;

}
.problems-list ul li{ padding: 11px 0; font: 20px 'KelsonSans'; color: #fff;  }
.problem-img{ position: absolute; top: 71px;
right: -63px; }

#section6{ height: 880px; padding-top: 55px; background: url(../images/gray-bg.jpg) repeat-y; }
#section6 .section-head h1{ font: 37px 'KelsonSans' !important; font-weight: 700 !important; color: #4a338b !important; margin-bottom: 0px !important; 

top: -2px;
margin-left: 38px;}
#section6 .section-head p{ font: 36px 'KelsonSans'; font-weight: 700; color: #4a338b; text-align: center; margin-top: -3px;margin-left: 30px;}
.advantages-list{ margin-top: 35px; }
.advantages-list2{margin-top: 46px;}
.advantages-list h2{ font: 24px 'KelsonSans'; color: #ffb601; text-transform: uppercase; margin-bottom: 23px; font-weight: 700; margin-left: -10px;}
.advantages-list ul{ padding-left: 15px; }
.advantages-list ul li{ padding: 8px 0 9px 0; }
.advantages-list ul li span{ font: 24px 'KelsonSans'; color: #ffb601; font-weight: 700; float: left; }
.advantages-list ul li p{ font: 20px 'KelsonSans'; color: #4a338b; float: left; margin-left: 5px; margin-top: 4px; }
.advantages-img{ position: absolute; top: 125px;
right: -95px; }

#section7{ height: 795px; background: url(../images/diamonds-bg.png); padding-top: 65px; text-align: center; }
#section7 h1{ font-weight: 400; float: left; font-size: 32px; font-weight: 400; }
#section7 .section-head{ display: inline-block; margin: 3px 0 0 0;}
#section7 .section-head .line{ float: left; margin: 20px 15px; width: 27px; height: 1px; background: #4a338b; position: relative; top: -5px; }
.main-img{ width: 940px; height: 495px; border: 5px solid #4a338b; margin-top: 18px; overflow: hidden; border-radius:5px 5px 0 0;}
.main-img img{  width: 100%; }
.alt-images{ width: 940px; height: 95px; background: #4a338b; padding: 0px 50px 0 50px; position: relative; border-radius:0 0 5px 5px;}
.arrow{ width: 21px; height: 40px; position: absolute; top: 25px; }
.left-arrow{ background: url(../images/left-arrow.png); left: 14px; }
.right-arrow{ background: url(../images/right-arrow.png); right: 14px; }
.left-arrow:hover{ background: url(../images/left-arrow-active.png); }
.right-arrow:hover{ background: url(../images/right-arrow-active.png); }
.images-list{ overflow: hidden; padding-top: 5px; }
.images{ width: 1380px; }
.alt-img{ width: 130px; height: 80px; border: 1px solid #fff; float: left;margin: 0 4px 0 5px; overflow: hidden; position: relative; }
.alt-img.active{ width: 132px; height: 84px; border: 2px solid #fff; top: -2px; }
.alt-img img{ width: 100%; }

#section-btn{ padding: 28px 0; background: url(../images/purple-bg.jpg) repeat-y; text-align: center; }
.big-btn{ width: 930px; height: 53px; background: url(../images/big-btn.png) no-repeat; display: inline-block; font: 21px 'KelsonSans'; font-weight: 700; text-transform: uppercase; text-align: center; line-height: 51px; color: #000; opacity: .95 }
.big-btn:hover{ opacity: 1; }

#section8{ height: 990px; padding-top: 65px; background: url(../images/purple-bg.jpg) repeat-y; text-align: center; }
#section8 h1{ font-weight: 400; float: left; color: #fff; font-size: 32px; }
#section8 .section-head{ display: inline-block; margin-bottom: 16px;}
#section8 .section-head .line{ float: left; margin: 20px 30px; width: 70px; height: 1px; background: #fff; position: relative; top: -5px; }
/*.before-after{ background: url(../images/before-after.png) no-repeat; } */
.ba-row{ margin: 0 -10px; }
.ba-span{ padding: 0 10px; margin-bottom: 109px; }
.ba-item{ position: relative; width: 460px; height: 320px; }
.ba-img{ width: 460px; height: 320px; border: 5px solid #5d3faf; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; -o-border-radius: 5px; overflow: hidden; }
.ba-name{ position: absolute; left: 0; right: 0; bottom: -50px; margin: auto; width: 340px; height: 55px; background: url(../images/ba-name.png); font: 18px 'KelsonSans'; color: #4a338b; padding-top: 22px; }

#section9{ padding: 65px 0 103px 0; background: url(../images/diamonds-bg.png); text-align: center; }
#section9 h1{ font-weight: 400; float: left; font-size: 32px; }
#section9 .section-head{ display: inline-block;position: relative;
top: -2px; }
#section9 .feedbacks{padding-top: 25px;}
#section9 .section-head .line{ float: left; margin: 20px; width: 70px; height: 1px; background: #4a338b; position: relative; top: -5px; margin: 20px 26px;}
.feedback{ margin-bottom: 23px; position: relative; }
.feedback-right {}
.feedback:nth-child(odd) .feedback-author{ left: 0; background: url(../images/name-holder.png) no-repeat 0px 157px, url(../images/author-bg.png) no-repeat 15px 0px; padding-right: 22px; }
.feedback:nth-child(odd) .feedback-body{ right: 0; }
.feedback:nth-child(even) .feedback-author{ right: -10px; background: url(../images/name-holder.png) no-repeat center 160px, url(../images/author-bg-right.png) no-repeat -69px 0px; right: -22px;
width: 264px;}
.feedback:nth-child(even) .feedback-body{ left: 0; }
.feedback-author{ width: 242px;  position: absolute; z-index: 2; padding-top: 2px; }
.feedback-body{ position: absolute; z-index: 1; }
.feedback-img{ width: 186px; height: 186px; border: 5px solid #4a338b; border-radius: 50%; -webkit-border-radius: 50%; -moz-border-radius: 50%; -o-border-radius: 50%;; overflow: hidden; margin: auto;  }
.fimage{ width: 100%; height: 100%; border-radius: 50%; -webkit-border-radius: 50%; -moz-border-radius: 50%; -o-border-radius: 50%;; overflow: hidden; }
.feedback-img img{ max-width: 176px;}
.feedback-name{ width: 160px; height: 30px; padding-top: 3px; background: url(../images/name-text.png); position: relative; left: 1px; top: -13px; margin: auto; font: 18px 'KelsonSans'; color: #4a338b; left: 0px;
top: -17px;}
.feedback:nth-child(odd) .feedback-body{ float: left; width: 700px; border: 1px solid #fff; text-align: left; }
.feedback:nth-child(even) .feedback-body{ float: right; width: 700px; border: 1px solid #fff; text-align: left; }
.feedback-text{min-height: 230px; padding: 18px 22px 18px 20px; background: #fff; border: 4px solid #d5d9dd; font: 15px 'KelsonSans'; color: #4f4f4f; }
.feedback-text p{padding-bottom: 13px;
line-height: 22px;}
.divider{ width: 100%; height: 15px; background: url(../images/divider.png) no-repeat center center; margin-top: 34px; }
.divider-small{ width: 100%; height: 13px; background: url(../images/divider-small.png) no-repeat center center; margin: 10px 0; }

.videos{ margin-top: 32px; }
.video-row{ margin: 0 -10px; }
.video-span{ width: 480px; padding: 0 10px; }
.video-src{ border: 1px solid #fff; border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; position: relative; }
.video{ border: 4px solid #d5d9dd; height: 300px; }
.video iframe{ width: 100%; height: 290px; border: 1px solid #fff; }
.video-name{ position: absolute; left: -15px; right: 0; bottom: -50px; margin: auto; width: 335px; height: 54px; background: url(../images/video-name.png); font: 18px 'KelsonSans'; color: #4a338b; padding-top: 22px; }

#section10{ padding: 65px 0 59px 0; text-align: center; background: url(../images/purple-bg.jpg) repeat-y; }
#section10 h1{ font-weight: 400; float: left; color: #fff; text-shadow: 1px 0 1px #4a338b; font-size: 32px; }
#section10 .section-head{margin-bottom: 36px; display: inline-block; }
#section10 .section-head .line{ float: left; margin: 20px; width: 70px; height: 1px; background: #fff; position: relative; top: -5px; }
.certificates-row{ margin: 0 -10px; }
.certificate-span{ width: 320px; padding: 0 10px;  }
.certificate{ width: 300px; height: 420px; border: 5px solid #5d3faf; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; -o-border-radius: 5px; background: #fff;}
.certificate img{ height: 100%; }

#section11{ padding-top: 68px; height: 1001px; background: url(../images/diamonds-bg.jpg); text-align: center; }
#section11 h1{ font-weight: 400; float: left; font-size: 32px; }
#section11 .section-head{height: 24px; display: inline-block; margin-left: 3px;}
#section11 .section-head .line{ float: left; margin: 20px 15px; width: 70px; height: 1px; background: #4a338b; position: relative; top: -5px; }
.work-main{ height: 875px; background: url(../images/how-do-we-work.png) no-repeat center; position: relative; }
.work{ position: absolute; width: 198px; height: 180px; padding: 25px 15px; text-align: left; }
.work h2{line-height: 83px; padding: 5px 0 0 0;
margin-left: -4px; font: 60px 'KelsonSans'; font-weight: 700; color: #fff; text-align: center; }
.work p{ font: 15px 'KelsonSans'; color: #fff; margin-top: 6px;
margin-left: 5px; }
.work-desc{ width: 275px; font: 15px 'KelsonSans'; color: #4a338b; position: absolute; text-align: left; padding-left: 15px; }
#work1{ top: 364px; left: -1px; }
#work1 h2{
	position: relative;
	left:-5px;
}
#work2{ top: 33px; left: 269px; }
#work3{ top: 243px; right: 102px; }
#work4{ top: 566px; right: 372px; }
#desc1{ top: 556px;
left: 3px; }
#desc2{ top: 225px;
left: 273px;}
#desc3{ top: 435px;
right: 21px; }
#desc4{top: 758px;
right: 291px; }

#section13{ text-align: center; height: 530px; position: relative; }
#section12.banner{height: 539px; padding-top: 40px;}
#section12 .banner-img-span img {left:-112px;top:-40px}
#section13 h1{ font-weight: 400; float: left; color: #4a338b; font-size: 32px; }
#section13 .section-head{ padding: 52px 65px 150px 65px; display: inline-block; }
#section13 .section-head .line{ float: left; margin: 20px 28px; width: 70px; height: 1px; background: #4a338b; position: relative; top: -7px; }

#map{ position: absolute; height: 595px; width: 100%; top: 0px; background: url(../images/map-scan.png) no-repeat center 0px; }

#section14{ padding-bottom: 27px; background: url(../images/purple-bg.jpg) repeat-y; }
#section14 .banner-btn{ background: url(../images/btn_new.png) no-repeat; width: 322px;font-size: 21px;}
#section14 h1{ height: 80px;background: #fff;line-height: 80px;margin: 0; }
.questions p{ margin-top: 30px; margin-bottom: 50px; font: 18px 'KelsonSans'; color: #ffce0e; text-align: center; }

.footer{ height: 100px; background: #fff; padding-top: 45px; }
.copyright{position: relative;
top: -3px; float: left; font: 16px 'Open Sans'; color: #8d7c6a; }
.footer-link{ float: right; position: relative; right: -16px;}
.footer-link img{ position: absolute; top: -35px; right: 0; }


.none {
	display: none;
}
#help {
	display: none;e
	position: fixed;
	background: red;
	color: #fff;
	width: 100px;
	height: 30px;
	z-index: 1000;
}
@font-face {
    font-family: 'KelsonSans';
    src: url('fonts/KelsonSansLight.eot') format('eot');
    src: local('☺'), url('fonts/KelsonSansLight.woff') format('woff'), url('fonts/KelsonSansLight.ttf') format('truetype'), url('fonts/KelsonSansLight.svg') format('svg');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'KelsonSans';
    src: url('fonts/KelsonSansRegular.eot') format('eot');
    src: local('☺'), url('fonts/KelsonSansRegular.woff') format('woff'), url('fonts/KelsonSansRegular.ttf') format('truetype'), url('fonts/KelsonSansRegular.svg') format('svg');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'KelsonSans';
    src: url('fonts/KelsonSansBold.eot') format('eot');
    src: local('☺'), url('fonts/KelsonSansBold.woff') format('woff'), url('fonts/KelsonSansBold.ttf') format('truetype'), url('fonts/KelsonSansBold.svg') format('svg');
    font-weight: 700;
    font-style: normal;
}
hr {
	background: url(../images/section2-bg.png) no-repeat;
	width: 37px;
	height: 20px;
	display: block;
	border: 0;
	padding: 0;
	margin: 0;
	margin-left: -28px;
	left: 50%;
	position: absolute;
	z-index: 100;
}

@media screen and (max-width: 1000px) {
	.container{ min-width: 360px; max-width: 800px;}
	.banner-img-span {width: 59%;}
	.new_banner1 img {width: 115%;}
	#star1 .line{ width: 210px; }
	#star2 .line{ width: 185px; }
	#star3 .line{ width: 185px; }
	#star4 .line{ width: 115px; }
	#star5 .line{ width: 60px; }
	#star6 .line{ width: 180px; }
	#star7 .line{ width: 143px; }
	#star8 .line{ width: 30px; }
	.star span {margin-right: 5px;}
	.star p {left: 0px;}

	.fitotigh-span {width: 50%;	}
	.fitotigh-item {margin: 0 auto;}
	.fitotigh-row  .fitotigh-span:nth-child(3) {width: 100%;}
	#section3 {height: 1300px;}
	#section4 .banner-img-span img {width: 200%;}
	.problem-img {right: -200px;}
	.advantages-img {top: 130px;right: -155px;}
	.advantages-img img {width: 90%;}
	.big-btn {
		width: 800px;
		height: 53px;
		background: url(../images/big-btn800.png) no-repeat;
		display: inline-block;
		font: 19px 'KelsonSans';
		font-weight: 700;
		text-transform: uppercase;
		text-align: center;
		line-height: 51px;
		color: #000;
		opacity: .95;
	}
	.main-img {
		width: 790px;
		height: 417px;
		
	}
	.alt-images {
		width: 790px;
	}
	#section7 {
		height: 720px;
	}
	#section7 h1 {width: 85%;}
	#section8 {height: 875px;}
	.ba-item {
		width: 390px;
		height: 280px;
		}
	.ba-img {
		width: 390px;
		height: 280px;
	}
	.ba-img img {width: 100%;}
	.feedback:nth-child(odd) .feedback-body {width: 560px;}
	.feedback:nth-child(even) .feedback-body {width: 560px;}
	.video-span {width: 50%;}
	.certificate-span {width: 50%;}
	.certificate {margin: 0 auto;}
	.certificates-row .certificate-span:nth-child(3) {width: 100%;margin-top: 20px;}
	#section12 .banner-img-span img {width: 150%; left: -250px;}
	.footer-link {right: 0px;}


	#section11 {display: none;}

}

@media screen and (max-width: 820px) {
	.container{ min-width: 360px; max-width: 600px;}
	.header {height: 180px;}
	.call-order {float: none; margin: 0 auto; width: 230px;}
	.banner-img-span {width: 46%;}
	.new_banner1 img {width: 190%;left: -200px;}
	#star1 .line{ width: 10px; }
	#star2 .line{ width: 25px; }
	#star3 .line{ width: 50px; }
	#star4 .line{ width: 20px; }
	#star5 .line{ width: 1px; }
	#star6 .line{ width: 60px; }
	#star7 .line{ width: 35px; }
	#star8 .line{ width: 30px; }
	#star7.star p {width: 360px;}
	#star8.star p {width: 433px;}
	#section3 .section-head .line {width: 20px;}
	#section4 .banner-img-span img {width: 290%;}
	.banner-form-span {position: relative;}
	.problem-img {right: -395px;}
	.advantages-list ul li p {width: 92%;}
	.advantages-img {top: 130px;right: -345px;}
	#section6 {height: 950px;}
	.big-btn {
		width: 600px;
		height: 53px;
		background: url(../images/big-btn600.png) no-repeat;
		display: inline-block;
		font: 15px 'KelsonSans';
		font-weight: 700;
		text-transform: uppercase;
		text-align: center;
		line-height: 51px;
		color: #000;
		opacity: .95;
	}
	#section7 {height: 610px;}
	#section7 h1  {width: 80%;}
	.main-img {	width: 590px;	height: 312px;}
	.alt-images {width: 590px;}
	#section8 {height: 1650px;}
	#section8 .span, #section9 .span {float: none;}
	.ba-item {margin: 0 auto;}
	.feedback:nth-child(odd) .feedback-body {width: 60%;}
	.feedback:nth-child(even) .feedback-body {width: 60%;}
	.video-span {width: 480px; margin: 0 auto;}
	.certificate-span {width: 100%;margin-bottom: 20px;}
	.certificates-row .certificate-span:nth-child(3) {margin-top: 0;}
	#section12 .banner-img-span img {width: 240%;left: -330px;}

}

@media screen and (max-width: 600px) {
	.container{ min-width: 360px; max-width: 480px;}
	.logo img {width: 100%;}
	.header {height: 170px;}
	.banner-img-span {width: 32%;}
	.new_banner1 img {width: 350%;left: -210px;}
	#section2 {height: 750px;}
	.star p {width: 280px;}
	#star1 .line{ width: 50px; }
	#star2 .line{ width: 55px; }
	#star3 .line{ width: 60px; }
	#star4 .line{ width: 55px; }
	#star5 .line{ width: 55px; }
	#star6 .line{ width: 65px; }
	#star7 .line{ width: 47px; }
	#star8 .line{ width: 6px; }
	#star7.star p {width: 298px;}
	#star8.star p {width: 340px;}
	#star6 {padding-top: 30px;padding-bottom: 30px;}
	#star6:after {top: 16px;}
	#section3 {height: 2010px;}
	#section3 h1 {width: 300px;}
	.fitotigh-span {width: 100%; margin-bottom: 20px;}
	#section4 .banner-img-span img {width: 500%;left: -450px;}
	.problems-list {position: relative;z-index: 1;}
	.advantages-img {display: none;}
	.big-btn {
		width: 480px;
		height: 53px;
		background: url(../images/big-btn480.png) no-repeat;
		display: inline-block;
		font: 12px 'KelsonSans';
		font-weight: 700;
		text-transform: uppercase;
		text-align: center;
		line-height: 51px;
		color: #000;
		opacity: .95;
	}
	#section7 h1 {width: 74%;}
	.main-img {	width: 470px;	height: 250px;}
	.alt-images {width: 470px;}
	.feedback:nth-child(odd) .feedback-body {width: 50%;}
	.feedback:nth-child(even) .feedback-body {width: 50%;}
	#section12 .banner-img-span img {width: 445%;left: -375px;}
	#section13 .section-head .line {margin: 20px 20px;width: 10px;}
	#section8 .section-head .line {margin: 20px 20px;width: 30px;}




}
@media screen and (max-width: 500px) {
	
	#section11 .section-head .line {width: 25px}

}
@media screen and (max-width: 480px) {
	.container{ width: 360px;}
	.banner-img-span {width: 100%;}
	.new_banner1 img {width: 190%;left: -210px;}
	.banner-form-span {top: -865px;left: 20px;}
	#section2 {height: 1095px;}
	.star p {width: 160px;}
	#star6.star p, #star7.star p, #star8.star p {width: 160px;}
	#star1 .line{ width: 50px; }
	#star2 .line{ width: 55px; }
	#star3 .line{ width: 60px; }
	#star4 .line{ width: 55px; }
	#star5 .line{ width: 55px; }
	#star6 .line{ width: 68px; }
	#star7 .line{ width: 65px; }
	#star8 .line{ width: 65px; }
	#section3 {height: 1970px;}
	#section3 h1 {width: 180px;}
	#section4 .banner-img-span img {width: 200%;left: -300px;}
	#section4 .banner-form-span {top: -620px;left: 20px;}
	#section5 .section-head {padding: 0;}
	#section5 {height: 955px}
	#section6 {height: 1080px;}
	.big-btn {
		width: 360px;
		height: 53px;
		background: url(../images/big-btn360.png) no-repeat;
		display: inline-block;
		font: 9px 'KelsonSans';
		font-weight: 700;
		text-transform: uppercase;
		text-align: center;
		line-height: 51px;
		color: #000;
		opacity: .95;
	}
	#section7 {height: 550px;}
	#section7 h1 {width: 68%;}
	.main-img {	width: 350px;	height: 187px;}
	.alt-images {width: 350px;}
	#section9 .section-head .line {width: 50px;}
	.feedback-author {position: static;}
	.feedback:nth-child(odd) .feedback-author {background: url(../images/name-holder.png) no-repeat -8px 157px, url(../images/author-bg-centre.png) no-repeat -6px 0px;}
	.feedback:nth-child(even) .feedback-author {background: url(../images/name-holder.png) no-repeat center 160px, url(../images/author-bg-centre.png) no-repeat 24px 0px;}
	.feedback:nth-child(odd) .feedback-body,
	.feedback:nth-child(even) .feedback-body {width: 100%;}
	.feedback {margin-bottom: 250px;}
	.video-span {width: 360px;}
	#section10 .section-head .line {width: 20px;}
	#section12 .banner-img-span img {width: 200%;left: -375px;}
	#section12 .banner-form-span {top: -603px;left: 20px;}
	#section13 .section-head .line {margin: 20px 10px;width: 10px;}
	#content h1 {font-size: 26px;}
	.ba-img {width: 360px;height: 260px;}
	.ba-name {bottom: -30px;right: 25px;}


}