@charset "UTF-8";
/* CSS Document */
/* STYLES FOR ****    */
@import url("reset.css");

@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic&subset=latin,cyrillic);

@import url(http://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic,cyrillic-ext);



html{
background: url(img/bg_all.jpg);
min-width: 920px;
}
body{
background: url(img/bg_top2.jpg) top center no-repeat;
min-height: 650px;
min-width: 920px;
}
#wrapper, #footer {
max-width: 1240px;
min-width: 980px;
}

#wrapper {
padding: 0 18px;
margin: 0 auto;
min-height: 100%;
height: auto !important;
height: 100%;
}
#header {
height: 256px;
}
#middle {
width: 100%;
padding: 0 0 81px;
height: 1%;
position: relative;
}
#middle:after {
content: '';
clear: both;
display: table;
}
#container {
width: 100%;
float: left;
overflow: hidden;
}
#content {
padding: 0 0 0 292px;
}
#sideLeft {
float: left;
width: 272px;
margin-left: -100%;
position: relative;
}
#footer {
padding: 45px 18px 0;
margin: -81px auto 0;
height: 36px;
position: relative;
}

/* All in content*/
#header nav {
padding: 42px 0 22px 35px;
margin: 0 270px 0 165px;
position: relative;
z-index: 5;
}
#header nav  h6{
font: 15px/18px 'PT Sans', sans-serif; 
display: inline-block;
margin: 0 36px 9px 0;
}
#header #logo {
background: url(img/logo.png);
width: 290px;
height: 182px;
display: block;
position: absolute;
top: 18px;
}
#header aside {
float: right;
width: 270px;
position: relative;
padding: 36px 0 0 0;
text-align: right;
}
#header aside  h5{
font: 30px/30px 'PT Sans', sans-serif; 
color: #fff;
}
#header aside  h6{
font: 18px/18px 'PT Sans', sans-serif; 
}
#chart {
display: block;
width: 233px;
height: 59px;
background: url(img/chart.png);
position: relative;
margin: 22px 0 0 37px;
padding: 16px 0 0 0;
}
#chart span {
position: absolute;
display: block;
width: 45px;
height: 25px;
margin: 10px 0 0 4px;
text-align: center;
color: #faa74a;
font: bold 20px/20px 'PT Sans', sans-serif;
}
#chart p {
text-align: center;
margin: 0 0 3px 0;
padding: 0 0 0 25px;
}
#chart p i {
color: #bc4800;
font: bold 20px/20px 'PT Sans', sans-serif;
}
#footer span {
float: right;
}
#footer span i {
color: #bc4800;
font: bold 14px/18px 'PT Sans', sans-serif;
}
h3{
color: #bc4800;
font: bold 28px/28px 'PT Sans', sans-serif;
margin: 0 0 40px 0;
}
h4{
color: #bc4800;
font: bold 20px/20px 'PT Sans', sans-serif;
margin: 0 0 20px 0;
}
#content h5{
font: bold 20px/20px 'PT Sans', sans-serif;
margin: 0 0 20px 0;
}
#content  > h4 {
text-align: center;
}

#content hr {
border: none;
display: block;
height: 11px;
background: url(img/v.png);
}
#content  h4 > hr {
width: 40%;
float: right;
}
#content  h4 > hr:first-child {
float: left;
}
h1{
color: #004763;
font: bold 40px/40px 'PT Sans', sans-serif;
margin: 0 0 20px 0;
}
h2{
color: #004763;
font: bold 18px/18px 'PT Sans', sans-serif;
margin: 0 0 10px 0;
}
h4 a {
text-decoration: none;
border-bottom: 1px dashed;

}
aside h3 {
color: #bc4800;
font: bold 20px/20px 'PT Sans', sans-serif;
margin: 0 0 20px 0;
}
#filters  p{
color: #002554;
margin: 0 0 5px;
height: 36px;
}
#filters {
color: #002554;
margin: 25px 0;
}
#filters label {
width: 68px;display: inline-block;
}
#filters button {
display: block;
margin: 20px auto 20px;
background: #ffae60;
color: #fff;
cursor: pointer;
width: 200px;
height: 40px;
border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
box-shadow: inset 1px 1px 3px #fff;
-moz-box-shadow: inset 1px 1px 3px #fff;
-webkit-box-shadow: inset 1px 1px 3px #fff;
zoom: 1;
behavior: url(ie-css3.htc);
z-index: auto;
position: relative;
font: bold 18px/18px 'PT Sans', sans-serif;
border: none;
}
#filters button i {
background: none repeat scroll 0 0 rgba(19, 80, 100, 0.74);
border-radius: 10px 10px 10px 10px;
color: #FFFFFF;
display: none;
margin: -28px 0 0 210px;
padding: 10px;
position: absolute;
width: 200px;
font: 14px/18px 'PT Sans', sans-serif;
}
#filters button i:after {right: 100%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none;} 
#filters button i:after {border-color: rgba(136, 183, 213, 0); border-right-color: #88b7d5; border-width: 30px; top: 50%; margin-top: -30px;}
#filters button:hover {background: #ff9e40;}
#filters button:hover i {display: block;}
#filters .info {
display: inline-block;
width: 16px;
height: 16px;
text-align: center;
color: transparent;
background: url(img/que.png);
font: bold 13px/18px 'PT Sans', sans-serif;
margin: 1px 0 0 8px;
float: right;
border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
zoom: 1;
behavior: url(ie-css3.htc);
z-index: 1000;
position: relative;
}
#filters .info:hover i {
display: block;
}
#filters .info:hover {
z-index: 2000;
}
#filters .info i {
display: none;
position: absolute;
width: 400px;
margin: 10px 0 0 10px;
border-radius: 10px;
background: rgba(19, 80, 100, 0.74);
padding: 10px;
color: #fff;
z-index: 1003!important!;
behavior: url(ie-css3.htc);
}
#filters  input[type="text"]{
height: 30px;
padding: 0 7px 0 6px; 
margin: -8px 0 0 5px;
font: normal 15px/30px 'PT Sans', sans-serif;
color: #bc4800;
text-shadow: 1px 1px #FFF;
background: url(img/inbg.png) repeat-x;
border: 1px solid #ccc;
border-bottom-color: #b3b3b3;
box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.3);
-moz-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.3);
-webkit-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.3);
border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
text-align: center;
z-index: 100;
position: relative;
zoom: 1;
behavior: url(ie-css3.htc);
}
.bigmenu {
margin: 36px 0 0 350px;
position: absolute;
top: 120px;
min-width: 400px;
}
.bigmenu h5 {
font:  bold 24px/24px 'PT Sans', sans-serif;
display: inline-block;
margin: 0 56px 9px 0;
}
.to {
display: none;
}
#map, #map iframe  {
width: 100%;
height: 400px;
}
.left {
float: left;
margin: 0 20px 20px 0;
}
.round {
border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
text-align: center;
z-index: auto;
position: relative;
zoom: 1;
}
#content article {
margin: 0 0 20px;
position: relative;
}
#content article h2{
margin: 10px 0;}
#content article:after {
	content		: ".";
	visibility	: hidden;
	display		: block;
	height		: 0;
	clear		: both;
}
#content article div {
display: block;
width: 100px;
height: 100px;
overflow:hidden;
float: left;
margin: -10px 20px 5px 0;
position: relative;
-moz-border-radius: 50%;
-webkit-border-radius: 50%;
border-radius: 50%;
background-size: 100px;
zoom: 1;
behavior: url(ie-css3.htc);
z-index: 100;
}
#content article img {
max-height:200px;
max-width:200px;
z-index: 99;
}

#pager {
text-align: center;
}
#pager a, #pager span  {
display: inline-block;
border: 1px solid transparent;
padding: 2px 6px;
font: italic 18px/18px 'PT Sans', sans-serif;
}
#pager a.active, #pager span.active {
font: bold 18px/18px 'PT Sans', sans-serif;
color: #f9993e;
text-decoration: none; 
cursor: default;
}


/* Мегослайдер */

/* Slider */
.slider {
width: 100%;
height: 292px;
margin: 0 auto 50px;
position: relative;
}
.slider::-moz-selection { 
background: transparent; color: #fff; text-shadow: none; }
.slider::selection { 
background: transparent; color: #fff; text-shadow: none; }
 
.slider .slide-list {
position:relative;
margin:0;
padding:0;
overflow:hidden;
border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
zoom: 1;
behavior: url(ie-css3.htc);
}
.slider .slide-wrap {
position:relative;
left:0px;
top:0;
width:10000000px;
}
.slider .slide-item {
position: relative;
z-index:5;
width: 808px;
padding:40px 70px;
height: 212px;
float:left;
text-align: left;
border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
zoom: 1;
behavior: url(ie-css3.htc);
}
.slider .slide-item h2 {
font: 55px/55px 'Lobster';
color: #835fbd;
text-shadow: 1px 1px 2px #fff;
zoom: 1;
behavior: url(ie-css3.htc);
padding-right: 300px;
}
.slider .slide-item h3 {
font: 40px/40px 'Lobster';
color: #835fbd;
text-shadow: 1px 1px 2px #fff;
zoom: 1;
behavior: url(ie-css3.htc);
padding-right: 300px;
}
.slider .slide-item span, .slider .slide-item span a{
font: 20px/20px 'Lobster';
color: #fff;
}

.slider .navy {
position:absolute;
top:0;
z-index:6;
height:100%;
width:60px;
cursor:pointer;

}
.slider .prev-slide {
left:0;
background:url(img/arr2.png) center no-repeat;
}
.slider .next-slide {right:0;
background:url(img/arr2.png) center no-repeat;
-moz-transform:scaleX(-1);
-o-transform:scaleX(-1);
-webkit-transform:scaleX(-1);
transform:scaleX(-1);
filter:FlipH;
-ms-filter:"FlipH";
}
.slider .navy.disable { background:#dbdbdb;}
/* навигация старт/пауза */
.auto {
width:7px;
height:11px;
cursor:pointer;
margin:10px auto;
}
.play {
background:url(bg/play.png) center no-repeat;
border: 1px solid #000;
}
.pause {
background:url(bg/pause.png) center no-repeat;
border: 1px solid #000;
}

#blocks {
text-align: center;
padding: 0 0 40px;
}
.one {
min-width: 235px;
width: 30%;
display: inline-block;
margin: 0 1% 30px 1%;
vertical-align: top;
}

.one span {
display: block;
width: 235px;
height: 210px;
margin: 0 auto -90px;
background: none;
border-radius: 60px 10px 10px 10px;
position: relative;
}

.one:hover  span {
background: #ffbf86;
position: relative;
z-index: 100;}

.one:hover  .dop {
display: block;
}

.one span > p{
text-align: left;
margin: 0 10px 3px 130px;
font: normal 14px/15px 'PT Sans', sans-serif;
}
.one span h2{
text-align: left;
margin: 0 10px 0 130px;
padding: 5px 0 5px 0;
font: bold 16px/16px 'PT Sans', sans-serif;
}
.one span img {
width: 100px;
height: 100px;
border: 10px solid rgba(255, 255, 255, 0.2);
float: left;
border-radius: 50%;
-moz-border-radius: 50%;
-webkit-border-radius: 50%;
}

.miniimg {
width: 100px;
height: 100px;
border-radius: 50%;
border: 10px solid rgba(255, 255, 255, 0.2);
float: left;
border-radius: 50%;
-moz-border-radius: 50%;
-webkit-border-radius: 50%;
}
.dop {
margin: 20px 0;
display: none;
position: absolute;
width: 235px;
top: 116px;
text-align: center;
}

.dop:before {
	content		: ".";
	visibility	: hidden;
	display		: block;
	height		: 0;
	clear		: both;
}

.dop > p {
margin: 0 0 10px 0;
font: 14px/18px 'PT Sans',sans-serif;
}
.dop > p strong {
color: #bc4800;
}

.dop input[type="text"], #addto input[type="text"] {
height: 30px;
padding: 0 7px; 
margin: -8px 10px 0;
font: normal 15px/30px 'PT Sans', sans-serif;
color: #bc4800;
text-shadow: 1px 1px #FFF;
background: url(img/inbg.png) repeat-x;
border: 1px solid #ccc;
border-bottom-color: #b3b3b3;
box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.3);
-moz-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.3);
-webkit-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.3);
border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
text-align: center;
z-index: 100;
position: relative;
zoom: 1;
behavior: url(ie-css3.htc);
}

.dop button, #addto button {
display: inline-block;
margin: -5px 0 0 17px;
background: #ffae60;
color: #fff;
cursor: pointer;
width: 130px;
height: 30px;
border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
box-shadow: inset 1px 1px 3px #fff;
-moz-box-shadow: inset 1px 1px 3px #fff;
-webkit-box-shadow: inset 1px 1px 3px #fff;
zoom: 1;
behavior: url(ie-css3.htc);
z-index: auto;
position: relative;
font: bold 14px/18px 'PT Sans', sans-serif;
border: none;
}
.dop button:hover, #addto button:hover {
background: #ff9e40;
}



/* Сладер доп товаров*/

/**/

#relate {
    padding: 0 0 40px;
    text-align: center;
}

#relate{
font: 0px/0px Tahoma;
margin: 0 auto 8px;
width: 765px;
height: 172px;
overflow: hidden;
}

#relate li:first-child{
margin: 0 0 8px 0;
}
#relate li {
text-align: right;
margin: 0 0 8px 20px;
width: 235px;
height: 210px;
display: inline-block;
}
#relate ul {
height: 286px;
margin: 0 0 0px;
overflow: hidden;
position: relative;
font: 0px/0px '';
transition: all 1s;
-o-transition: all 1s;
-ms-transition: all 1s;
-moz-transition: all 1s;
-webkit-transition:all 1s;
}
#relate ins, #relate del {
margin-top:110px;
display:block;
position:absolute;
width:28px;
height:28px;
background:url(img/arr1.png) 5px center no-repeat;
z-index:5;
border-radius:100px;
cursor:pointer;
opacity:0.8;
transition: all 1s;
-o-transition: all 1s;
-ms-transition: all 1s;
-moz-transition: all 1s;
-webkit-transition:all 1s;
}
#relate:hover ins, #relate:hover  del {
opacity:1;
transition: all 1s;
-o-transition: all 1s;
-ms-transition: all 1s;
-moz-transition: all 1s;
-webkit-transition:all 1s;
}
#relate ins:hover, #relate del:hover{
}
#relate del {
right:0px;
-moz-transform:scaleX(-1);
-o-transform:scaleX(-1);
-webkit-transform:scaleX(-1);
transform:scaleX(-1);
filter:FlipH;
-ms-filter:"FlipH";
}
#relate ins {
margin: 40px 0 0 -35px;
}
#relate del {
margin: 40px 25px 0 0px;
}

/**/
.aftertf {
margin-top: -80px ;
}
#relate2 {
    padding: 0 0 40px;
    text-align: center;
}

#relate2{
font: 0px/0px Tahoma;
margin: 0 auto 8px;
width: 765px;
height: 172px;
overflow: hidden;
}

#relate2 li:first-child{
margin: 0 0 8px 0;
}
#relate2 li {
text-align: right;
margin: 0 0 8px 20px;
width: 235px;
height: 210px;
display: inline-block;
}
#relate2 ul {
height: 286px;
margin: 0 0 0px;
overflow: hidden;
position: relative;
font: 0px/0px '';
transition: all 1s;
-o-transition: all 1s;
-ms-transition: all 1s;
-moz-transition: all 1s;
-webkit-transition:all 1s;
}
#relate2 ins, #relate2 del {
margin-top:110px;
display:block;
position:absolute;
width:28px;
height:28px;
background:url(img/arr1.png) 5px center no-repeat;
z-index:5;
border-radius:100px;
cursor:pointer;
opacity:0.8;
transition: all 1s;
-o-transition: all 1s;
-ms-transition: all 1s;
-moz-transition: all 1s;
-webkit-transition:all 1s;
}
#relate2:hover ins, #relate2:hover  del {
opacity:1;
transition: all 1s;
-o-transition: all 1s;
-ms-transition: all 1s;
-moz-transition: all 1s;
-webkit-transition:all 1s;
}
#relate2 ins:hover, #relate2 del:hover{
}
#relate2 del {
right:0px;
-moz-transform:scaleX(-1);
-o-transform:scaleX(-1);
-webkit-transform:scaleX(-1);
transform:scaleX(-1);
filter:FlipH;
-ms-filter:"FlipH";
}
#relate2 ins {
margin: 40px 0 0 -35px;
}
#relate2 del {
margin: 40px 25px 0 0px;
}


/**/

#pics {
    padding: 0 0 40px;
    text-align: center;
}

#pics{
font: 0px/0px Tahoma;
height: 120px;
overflow: hidden;
width: 360px;
margin: 0 auto;
}

#pics li:first-child{
margin: 0 0 8px 0;
}
#pics li {
text-align: right;
margin: 0 0 8px 20px;
width: 100px;
height: 100px;
display: inline-block;
}
#pics ul {
height: 120px;
margin: 0 auto 0px;
overflow: hidden;
position: relative;
font: 0px/0px '';
transition: all 1s;
-o-transition: all 1s;
-ms-transition: all 1s;
-moz-transition: all 1s;
-webkit-transition:all 1s;
}
#pics li img {
}
#pics li img {
width: 100px;
height: 100px;
border: 10px solid rgba(255, 255, 255, 0.2);
float: left;
border-radius: 50%;
-moz-border-radius: 50%;
-webkit-border-radius: 50%;
opacity: 0.8;
}
#pics li:hover  img{
opacity: 1;
}
#pics ins, #pics del {
margin-top:110px;
display:block;
position:absolute;
width:28px;
height:28px;
background:url(img/arr1.png) 5px center no-repeat;
z-index:5;
border-radius:100px;
cursor:pointer;
opacity:0.8;
transition: all 1s;
-o-transition: all 1s;
-ms-transition: all 1s;
-moz-transition: all 1s;
-webkit-transition:all 1s;
}
#pics:hover ins, #pics:hover  del {
opacity:1;
transition: all 1s;
-o-transition: all 1s;
-ms-transition: all 1s;
-moz-transition: all 1s;
-webkit-transition:all 1s;
}
#pics ins:hover, #pics del:hover{
}
#pics del {
/*right:0px;*/
-moz-transform:scaleX(-1);
-o-transform:scaleX(-1);
-webkit-transform:scaleX(-1);
transform:scaleX(-1);
filter:FlipH;
-ms-filter:"FlipH";
}
#pics ins {
margin: 40px 0 0 -30px;
}
#pics del {
margin: 40px 0 0 380px;
}

/* Один товар*/

.oneparams {
float: right;
width: 270px;
}
.oneparams p {
margin: 0 0 7px 0;
font: 16px/18px 'PT Sans', sans-serif;
}
.oneparams p strong {
width: 140px;
display: inline-block;
}
.oneparams p strong a{
text-decoration: none;
border-bottom: 1px dashed;
}
.oneimg {
margin: 0 280px 0 0;
text-align: center;
padding: 0 20px 20px 20px;
}
.oneimg img {
max-width: 418px;
max-height: 418px;
width: 100%;
border-radius: 50%;
border: 10px solid rgba(255, 255, 255, 0.2);
}


#addto {
display: block;
margin: 30px 0;
background: #ffbf86;
border-radius: 10px;
padding: 20px 10px 1px 10px;
text-align: center;
}
#addto p{
margin: 0 0 10px 0;
}
#addto strong {
width: auto;
}

.onebrand {
width: 262px;
margin: 0 5% 30px 0;
display: inline-block;
}

.onebrand  span {
width: 262px;
height: 40px;
background: #fff;
}

.onebrand span {
display: table-cell;
vertical-align: middle;
text-align: center;
width: 262px;
height: 120px;
background: #fff;
border-radius: 10px;
border: 2px solid transparent;
}
.onebrand:hover span  {
border: 2px solid orange;
}
#content .onebrand h5 {
margin: 0 0 3px 0;
padding: 10px 0 0 0;
}
.onebrand p  {
font: 18px/18px 'PT Sans', sans-serif;
}

/*Таблица для */
#ch {
width: 100%;
margin: 0 0 50px;
}
#ch th, #ch td {
padding: 5px;
vertical-align: middle;
}
#ch tr {
border-bottom: 2px solid #faa74a;
}
#ch th {
font: bold 14px/18px 'PT Sans', sans-serif;
text-align: left;
padding-bottom: 20px;
}
#ch tr td img {
width: 100px;
height: 100px;
border: 10px solid rgba(255, 255, 255, 0.2);
float: left;
border-radius: 50%;
-moz-border-radius: 50%;
-webkit-border-radius: 50%;
opacity: 0.8;
}
#ch tr td p {
margin: 0 0 2px 0;
font: 16px/18px 'PT Sans', sans-serif;
}
#ch tr .price {
color: #bc4800;
font: bold 18px/18px 'PT Sans', sans-serif;
}
#ch tr i {
display: block;
width: 16px;
height: 16px;
background: url(img/x.png);
cursor: pointer;

}

#ch tr input[type="text"] {
height: 30px;
padding: 0 7px;
margin: -8px 10px 0;
font: normal 15px/30px 'PT Sans', sans-serif;
color: #bc4800;
text-shadow: 1px 1px #FFF;
background: url(img/inbg.png) repeat-x;
border: 1px solid #ccc;
border-bottom-color: #b3b3b3;
box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.3);
-moz-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.3);
-webkit-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.3);
border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
text-align: center;
z-index: 100;
position: relative;
zoom: 1;
behavior: url(ie-css3.htc);
}
.op {
display: inline-block;
width: 450px;
}

input[type="checkbox"] {
    display: none;
}
input[type="checkbox"] + label {
    background: url("img/unchecked.png") no-repeat scroll left top rgba(0, 0, 0, 0);
    cursor: pointer;
    display: inline-block;
    height: 16px;
    margin: 0 0 0 4px;
    padding: 0 0 8px 25px;
}
input[type="checkbox"]:checked + label {
    background: url("img/checked.png") no-repeat scroll left top rgba(0, 0, 0, 0);
}

.summ {
float: right;
margin: 0 100px 0 0;
font: 18px/18px 'PT Sans', sans-serif;
}

.summ strong  {
color: #bc4800;
font: bold 18px/18px 'PT Sans', sans-serif;
}

.re {
text-decoration: none;
margin: 0 0 0 100px;
font: 18px/18px 'PT Sans', sans-serif;
border-bottom: 1px dashed;
}
.re:before {
content:'';
width: 20px;
height: 20px;
position: absolute;
background: url(img/re.png) no-repeat;
margin: 5px 0 -0 -23px;
}

#wrapper button {
display: inline-block;
background: #ffae60;
color: #fff;
cursor: pointer;
width: 130px;
height: 30px;
border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
box-shadow: inset 1px 1px 3px #fff;
-moz-box-shadow: inset 1px 1px 3px #fff;
-webkit-box-shadow: inset 1px 1px 3px #fff;
zoom: 1;
behavior: url(ie-css3.htc);
z-index: auto;
position: relative;
font: bold 14px/18px 'PT Sans', sans-serif;
border: none;
}

#wrapper button:hover {
background: #ff9e40;
}