#sli, #sli li {
		height: 280px;
}
#sli {
	width: 100%;
	margin: 0 auto;
	position: relative;
/*	background: url(../img/slider_bg.jpg) top center no-repeat;*/
	background-size: cover;
}
#sli li{
	position: absolute;
	width: 100%;
	overflow: hidden;
	list-style: none;
-webkit-transition: all 1s ease 0s;
   -moz-transition: all 1s ease 0s;
     -o-transition: all 1s ease 0s;
        transition: all 1s ease 0s;
}
#sli.fade li {
	opacity: 0;
}
#sli.fade li.active {
	z-index: 10;
	opacity: 1;
}
#sli.slide li{
	width: 0;
	opacity: 1;
	list-style: none;
}
#sli.slide li.active {
	z-index: 10;
	width: 100%;
	right: 0;
}
#sli nav {
	position: absolute;
	margin-top: 237px;
	z-index: 20;
	text-align: center;
	width: 100%;
}
#sli nav a {
	width: 11px;
	height: 11px;
	background: #fff;
	opacity: 0.6;
	display: inline-block;
	margin-right: 6px;
	border-radius: 50%;
	border: 2px solid #e86264;
}
#sli nav a:last-child {
	margin-right: 0px;
}
#sli nav a.active {
	background: #e86264;
}
#sli nav a:hover{
	border: 1px solid #444;
	background: #444;
}
#sli nav a:active {
	border: 1px solid #fff;
	box-shadow: inset 1px 1px 2px #000;
}
#sli ins, #sli del {
	display: block;
	position: absolute;
	width: 20px;
	height: 41px;
	z-index: 10000;
	cursor: pointer;	
	margin-top: 170px;
	opacity: 0.5;
	top: 15px;
	/*border: 1px solid red;*/
}
#sli ins:hover, #sli del:hover {
	opacity: 1;
}
/*#sli ins {
	left: 30px;
	background: url(../img/arr21.png) no-repeat center center;
}
#sli del {
	right: 30px;
	background: url(../img/arr2.png) no-repeat center center;
}
*/

/*----------------------------------------------------------------*/
#sli h2 {
	width: 500px;
	margin-left: 60px;
	margin-top: 43px;
	margin-bottom: 11px;
	font-size: 25px;
	font-weight: normal;
	color: #000;
}
#sli p {
	width: 350px;
	margin-left: 60px;
	font-size: 13px;
	line-height: 170%;
	color: #000;
}
#sli .looks {
	display: block;
	width: 180px;
	height: 50px;
	line-height: 50px;
	color: #fff;
	text-align: center;
	text-decoration: none;
	background: #e86264;
	border-radius: 2px;
	margin-left: 60px;
	margin-top: 20px;
	font-size: 15px;
}
#sli .looks:hover {
	opacity: 0.8;
}