/*
Start Styles
*/
@import '../settings';

.tema {
    @include transition( all .2s);
    @include border-radius( 2px);

    color: $primary-color;
}

.intro {
    & {
        position: relative;

        overflow: hidden;

        height: 720px;

        text-align: center;

        background-image: url('../img/intro.jpg');
        background-repeat: no-repeat;
        background-position: center center;
        -webkit-background-size: cover;
           -moz-background-size: cover;
             -o-background-size: cover;
                background-size: cover;
    }

    .logo {
        display: block;

        width: 274px;
        height: 61px;
        margin: 80px auto 90px;

        border: none;
        background: url('../img/logo.png') no-repeat;
    }

    h2 {
        color: $white;
    }

    p {
        margin: 0 0 50px 0;

        color: $white;

        font-family: 'Roboto';
        font-size: 24px;
        font-weight: 300;
        line-height: 34px;
    }

    .button {
        width: 280px;
        height: 70px;

        -webkit-border-radius: 35px;
           -moz-border-radius: 35px;
                border-radius: 35px;

        font-family: 'Roboto';
        font-size: 18px;
        font-weight: 500;
        line-height: 70px;
    }

    .intro-counter {
        position: absolute;
        bottom: 36px;
        left: 0;

        width: 100%;

        color: $white;

        font-family: 'Roboto';
        font-size: 30px;
        font-weight: 300;
        line-height: 52px;

        > span {
            position: relative;

            display: inline-block;

            height: 56px;
            margin: 0 20px;
            padding: 0 10px;

            vertical-align: top;

            color: #333;
            background: url('../img/counter-box.png') no-repeat;
            -webkit-background-size: 100% 100%;
               -moz-background-size: 100% 100%;
                 -o-background-size: 100% 100%;
                    background-size: 100% 100%;

            font-family: 'Open Sans',sans-serif;
            font-size: 45px;
            font-weight: bold;
            line-height: 50px;

             -khtml-background-size: 100% 100%;

            &:after {
                position: absolute;
                top: 26px;
                left: 0;

                width: 100%;
                height: 1px;

                content: '';

                background: #b9b9b9;
            }
        }
    }
}

.catalog {
    & {
        padding: 62px 0 56px 0;

        text-align: center;
    }

    .catalog-text {
        margin: 0 auto;
        padding-bottom: 30px;

        > p {
            padding: 0 60px;
        }

        > p > span {
            font-size: 18px;
            font-weight: bold;
        }
    }

    .catalog-list {
        width: 100%;

        list-style-type: none;

        text-align: center;
        letter-spacing: -4px;

        > li {
            display: inline-block;

            width: 20%;
            margin-bottom: 52px;
            padding: 0 10px;

            vertical-align: top;

            .catalog-list-image {
                margin-bottom: 18px;

                line-height: 45px;

                a {
                    border: none;
                }
            }

            .catalog-list-text {
                max-width: 160px;
                margin: 0 auto;

                letter-spacing: normal;

                font-size: 12px;
                line-height: 17px;

                > a {
                    text-decoration: none;

                    color: gray;
                    border-bottom: 1px solid #e5e5e5;

                    &:hover {
                        border-bottom-color: transparent;
                    }
                }
            }
        }
    }

    .catalog-sub-text {
        color: $primary-color;

        font-size: 17px;
        font-style: italic;
    }
}

.discount {
    & {
        padding: 60px 0 65px 0;

        text-align: center;

        background: url('../img/discount.jpg') no-repeat center 98px;
    }

    ul {
        position: relative;

        width: 100%;
        margin: 0;
        padding: 0 0 25px 0;

        list-style-type: none;

        text-align: justify;
        text-align-last: justify;

        > li {
            display: inline-block;

            text-align: center;
            text-align-last: center;
            vertical-align: top;

            > h3 {
                display: block;

                margin-bottom: 8px;

                text-align: center;

                color: #ff8300;

                font-size: 18px;
            }

            > p {
                max-width: 170px;
                margin: 0 auto 15px;

                font-size: 14px;
                line-height: 20px;
            }
        }
    }

    .discount-image {
        height: 220px;

        line-height: 220px;

        img {
            max-height: 220px;

            vertical-align: bottom;
        }
    }

    .discount-sub-text {
        max-width: 600px;
        margin: 0 auto 32px;

        color: #989898;

        font-family: 'Roboto';
        font-size: 18px;
        font-weight: 300;
        line-height: 24px;
    }
}

.reg {
    padding: 50px 0 64px 0;

    text-align: center;

    background: #f5f5f5 url('../img/reg.jpg') no-repeat center bottom;

    p {
        margin: 0 0 28px 0;

        color: #b3b3b3;

        font-family: 'Roboto';
        font-size: 18px;
        font-weight: 300;
        line-height: 24px;
    }

    form {
        .form-field {
            float: left;

            -webkit-box-sizing: border-box;
               -moz-box-sizing: border-box;
                    box-sizing: border-box;
            width: 33.3333%;
            padding-left: 20px;

            > input[type='text'] {
                display: block;

                -webkit-box-sizing: border-box;
                   -moz-box-sizing: border-box;
                        box-sizing: border-box;
                width: 100%;
                height: 40px;
                margin: 0;
                padding: 10px 20px;

                border: 0 none;
                outline: 0;
                background: $white;

                font-family: 'Arial','Helvetica CY','Nimbus Sans L',sans-serif;
                font-size: 14px;
                line-height: 20px;

                -webkit-appearance: none;
            }

            :first-child {
                padding-left: 0;
            }
        }
        .form-button {
            padding-top: 35px;
        }
    }
}

.feedback {
    overflow: hidden;

    padding: 50px 0 64px 0;

    text-align: center;

    background: #f5f5f5 url('../img/feedback.jpg') no-repeat center bottom;

    p {
        max-width: 630px;
        margin: 0 auto 38px;

        color: #b3b3b3;

        font-family: 'Roboto';
        font-size: 18px;
        font-weight: 300;
        line-height: 24px;
    }

    ul {
        margin: 0 0 0 -50px;
        padding: 0;

        list-style-type: none;

        text-align: left;
        letter-spacing: -4px;

        font-size: 0;
        line-height: 0;

        > li {
            display: inline-block;

            -webkit-box-sizing: border-box;
               -moz-box-sizing: border-box;
                    box-sizing: border-box;
            width: 33.3333%;
            padding-left: 50px;

            vertical-align: top;
            letter-spacing: normal;
        }
    }
    .feedback-box {
        position: relative;

        margin-bottom: 30px;
        padding: 20px;

        background: $white;

        font-family: 'Roboto';
        font-size: 12px;
        font-weight: 300;
        line-height: 16px;
    }

    .feedback-author {
        padding-left: 11px;

        font-family: 'Roboto';
        font-size: 14px;
        font-weight: 600;
        line-height: 18px;

        > span {
            display: block;

            color: #646464;

            font-family: 'Roboto';
            font-size: 12px;
            font-weight: 300;
            font-style: italic;
        }
    }
}

.conditions {
    & {
        overflow: hidden;

        padding: 50px 0 22px 0;
    }
    .video {
        max-width: 560px;
        margin: 0 auto 30px;

        text-align: center;
    }

    p {
        margin: 0 0 38px 0;
        padding: 0 60px;

        text-align: center;

        font-weight: bold;
    }

    ul {
        margin: 0 0 0 -70px;
        padding: 0;

        list-style-type: none;

        letter-spacing: -4px;

        font-size: 0;
        line-height: 0;

        > li {
            display: inline-block;

            -webkit-box-sizing: border-box;
               -moz-box-sizing: border-box;
                    box-sizing: border-box;
            width: 33.3333%;
            margin-bottom: 38px;
            padding-left: 98px;

            vertical-align: top;
            letter-spacing: normal;

            background: url('../img/conditions.png') no-repeat 70px 2px;

            font-size: 14px;
            line-height: 18px;
        }
    }
}

.book {
    & {
        padding: 50px 0;

        text-align: center;

        background:    -moz-linear-gradient(top,  rgba(255,255,255,.01) 0%, rgba(255,255,255,.06) 59%, rgba(255,131,0,.1) 100%);
        background: -webkit-linear-gradient(top,  rgba(255,255,255,.01) 0%,rgba(255,255,255,.06) 59%,rgba(255,131,0,.1) 100%);
        background:         linear-gradient(to bottom,  rgba(255,255,255,.01) 0%,rgba(255,255,255,.06) 59%,rgba(255,131,0,.1) 100%);

        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#03ffffff', endColorstr='#1aff8300',GradientType=0 );
    }


    ul {
        @include clearfix;

        padding: 70px 20px 10px;

        background: url(../img/book.jpg) top center no-repeat;
        background-size: 100%;

        font-family: 'Roboto';
        font-size: 14px;
        font-weight: 300;

        li {
            display: inline-block;

            width: 25%;
            margin-bottom: 15px;
            padding: 10px;

            text-align: left;
            vertical-align: top;

            a {
                color: $secondary-color;
                border-bottom-color: $color-0-1;

                &:hover {
                    border-bottom-color: transparent;
                }
            }
        }
    }
}

footer {
    & {
        @include clearfix;

        padding: 40px 0 ;
    }

    .info {
        width: 50%;
        margin: 0 auto;

        font-size: 10px;
    }
    .copy {
        margin: 20px;

        text-align: center;
    }
}

@media screen and (max-width: 760px) {
    .catalog .catalog-list > li {
        width: 33.33%;
        margin-bottom: 42px;
    }

    .feedback ul {
        max-width: 280px;
        margin: 0 auto;

        > li {
            display: block;

            width: auto;
            margin-bottom: 32px;
            padding: 0;
        }
    }

    .conditions ul {
        max-width: 370px;
        margin: 0 auto;

        > li {
            display: block;

            width: auto;
            padding: 0;
            padding-left: 28px;

            background-position: left 2px;
        }
    }

    .reg {
        form {
            max-width: 500px;
            margin: 0 auto;

            .form-field {
                float: none;

                width: auto;
                margin-bottom: 20px;
                padding: 0;
            }
        }
    }
    .book {
        ul {
            li {
                width: 50%;
            }
        }
    }
}

@media screen and (max-width: 640px) {
    .catalog .catalog-list > li {
        width: 50%;
    }
    h2 {
        line-height: 40px;
    }
    .intro-counter {
        padding: 0 40px;
    }
}

@media screen and (max-width: 400px) {
    body,
    html {
        min-width: 360px;
    }

    .book {
        ul {
            li {
                width: 100%;
            }
        }
    }
}
