//Main color reset
$black: #000;
$white: #fff;

//Main color variables (according style guide)
$primary-color: #ff8300;
$secondary-color: #333;

$alert-color: #fe0000;
$success-color: #7ed432;

$border-color: #e1e1e1;
$font-color: $black;

$color-0-1: #99a39a;
