html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

/*
basic colors: 

orange - #ffd700;
greeen - #bde00f;
blue - #0099ff;
yellow: #ffff33;
lgray - #333

*/
* {
 -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box; 
     box-sizing: border-box;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
:focus {
	outline: 0;
}
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html {
	height: 100%;
}
header, nav, section, article, aside, footer {
	display: block;
}
body {
	font: normal 16px/20px 'Roboto', sans-serif;
	width: 100%;
	height: 100%;
	color: #333;
}
a {
	cursor: pointer;
	color: #0099ff;
	outline: none;
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}
p {
	margin: 0 0 10px;
	font: normal 16px/20px 'Roboto', sans-serif;
}
img {
	border: none;
}
input {
	vertical-align: middle;
}

h1 {
 font: bold 65px/55px "PT Sans";
 color: rgb(47,47,62 );
 margin: 0 0 60px 0;
}
h3 {
 font: 30px/36px "PT Sans";
 color: #333;
 margin: 60px 80px 20px 272px;
}

h4 {
 font: 300 30px/36px 'Roboto';
 color: #333;
 margin: 0 0 20px 0;
}

.c {
	text-align: center;
}
.fr {
	float: right;
	margin: 0 10px 10px 0;
}
.fl {
	float: right;
	margin: 0 10px 10px 0;
}
hr {
	display: block;
	border: none;
	width: 100%;
	margin: 0;
}
