.stand {
    width: 100%;
}

.stand .ukraine-blue,
.stand .ukraine-yellow {
    display: block;
    height: 1rem;
    line-height: 1;
    color: #fff;
    text-tansform: uppercase;
    text-align: center
}

.stand .ukraine-blue {
    width: 100%;
    background-color: #0057b7;
    color: #fff;
    font-size: .9em;
    line-height: 1.3
}

.stand .ukraine-yellow {
    width: 100%;
    background-color: #ffd700;
    color: #0057b7;
    font-size: 1.4em;
    line-height: .8;
    font-weight: 600;
}