/*@import "_candle.css";*/
/*@import "_clock.css";*/
/*@import "_withukraine.css";*/

* {
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;

    align-content: center;
    align-items: center;
    background: rgb(0, 0, 0);
}

section {
    display: flex;
    width: 100vw;
}

.wr {
    max-width: 800px;
    text-align: center;
    margin: auto;
    padding: 0 20px;
}

.links a {
    padding: 0 6px;
}

h1 {
    font-size: 3em;
    background: linear-gradient(to right, #30cfd0 0%, #330867 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

p {
    font-size: .7em;
    color: #777;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: .8em;
    padding-left: .8em;

    margin-bottom: 30px;
}

p strong {
    display: block;
    padding-top: 5px;
    letter-spacing: 4em;
    padding-left: 4em;
}

a {
    color: orange;
}

a:hover {
    text-decoration: none;
    color: coral;
}


*, *:before, *:after {
    margin: 0;
    padding: 0;
    word-break: break-all;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.holder {
    display: flex;
    margin: 1rem auto 0;
    width: 40px;
    height: 0;
    left: -40%;
    top: -10px;
    position: relative;
    transform: scale(.2);
    justify-content: center;
    align-content: center;
}

.holder *, .holder *:before, .holder *:after {
    position: absolute;
    content: "";
}

.candle {
    bottom: 0;
    width: 40px;
    height: 100px;
    border-radius: 150px / 40px;
    box-shadow: inset 20px -30px 50px 0 rgba(0, 0, 0, 0.4), inset -20px 0 50px 0 rgba(0, 0, 0, 0.4);
    background: #190f02;
    background: -moz-linear-gradient(#e48825, #e78e0e, #833c03, #4c1a03 50%, #1c0900);
    background: -webkit-linear-gradient(#e48825, #e78e0e, #833c03, #4c1a03 50%, #1c0900);
    background: -o-linear-gradient(#e48825, #e78e0e, #833c03, #4c1a03 50%, #1c0900);
    background: -ms-linear-gradient(#e48825, #e78e0e, #833c03, #4c1a03 50%, #1c0900);
    background: linear-gradient(#e48825, #e78e0e, #833c03, #4c1a03 50%, #1c0900);
}

.candle:before {
    width: 100%;
    height: 10px;
    border-radius: 50%;
    border: 2px solid #d47401;
    background: #b86409;
    background: -moz-radial-gradient(#eaa121, #8e4901 45%, #b86409 80%);
    background: -webkit-radial-gradient(#eaa121, #8e4901 45%, #b86409 80%);
    background: -o-radial-gradient(#eaa121, #8e4901 45%, #b86409 80%);
    background: -ms-radial-gradient(#eaa121, #8e4901 45%, #b86409 80%);
    background: radial-gradient(#ffef80, #b86409 60%);
    background: radial-gradient(#eaa121, #8e4901 45%, #b86409 80%);
}

.candle:after {
    width: 34px;
    height: 10px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    top: 0px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
    background: -moz-radial-gradient(rgba(0, 0, 0, 0.6), transparent 45%);
    background: -webkit-radial-gradient(rgba(0, 0, 0, 0.6), transparent 45%);
    background: -o-radial-gradient(rgba(0, 0, 0, 0.6), transparent 45%);
    background: -ms-radial-gradient(rgba(0, 0, 0, 0.6), transparent 45%);
    background: radial-gradient(rgba(0, 0, 0, 0.6), transparent 45%);
}

.candle .thread {
    width: 2px;
    height: 36px;
    top: -30px;
    left: 50%;
    z-index: 1;
    border-radius: 40% 40% 0 0;
    transform: translateX(-50%);
    background: #121212;
    background: -moz-linear-gradient(#d6994a, #4b232c, #121212, black, #e8bb31 90%);
    background: -webkit-linear-gradient(#d6994a, #4b232c, #121212, black, #e8bb31 90%);
    background: -o-linear-gradient(#d6994a, #4b232c, #121212, black, #e8bb31 90%);
    background: -ms-linear-gradient(#d6994a, #4b232c, #121212, black, #e8bb31 90%);
    background: linear-gradient(#d6994a, #4b232c, #121212, black, #e8bb31 90%);
}

.candle .flame {
    width: 14px;
    height: 70px;
    left: 50%;
    transform-origin: 50% 100%;
    transform: translateX(-50%);
    bottom: 100%;
    border-radius: 50% 50% 20% 20%;
    background: rgba(255, 255, 255, 1);
    background: -moz-linear-gradient(white 80%, transparent);
    background: -webkit-linear-gradient(white 80%, transparent);
    background: -o-linear-gradient(white 80%, transparent);
    background: -ms-linear-gradient(white 80%, transparent);
    background: linear-gradient(white 80%, transparent);
    animation: moveFlame 6s linear infinite, enlargeFlame 5s linear infinite;
}

.candle .flame:before {
    width: 100%;
    height: 100%;
    border-radius: 50% 50% 20% 20%;
    box-shadow: 0 0 15px 0 rgba(247, 93, 0, .4), 0 -6px 4px 0 rgba(247, 128, 0, .7);
}

@keyframes moveFlame {
    0%, 100% {
        transform: translateX(-50%) rotate(-2deg);
    }
    50% {
        transform: translateX(-50%) rotate(2deg);
    }
}

@keyframes enlargeFlame {
    0%, 100% {
        height: 60px;
    }
    50% {
        height: 80px;
    }
}

.candle .glow {
    width: 12px;
    height: 49px;
    border-radius: 50% 50% 35% 35%;
    left: 50%;
    top: -48px;
    transform: translateX(-50%);
    background: rgba(0, 133, 255, .7);
    box-shadow: 0 -40px 30px 0 #dc8a0c, 0 40px 50px 0 #dc8a0c, inset 3px 0 2px 0 rgba(0, 133, 255, .6), inset -3px 0 2px 0 rgba(0, 133, 255, .6);
}

.candle .glow:before {
    width: 10%;
    height: 60%;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.35);
}

.candle .blinking-glow {
    width: 70px;
    height: 109px;
    left: 50%;
    top: -55%;
    transform: translateX(-50%);
    border-radius: 50%;
    background: #ff6000;
    -webkit-filter: blur(50px);
    -moz-filter: blur(60px);
    -o-filter: blur(60px);
    -ms-filter: blur(60px);
    filter: blur(60px);
    animation: blinkIt .1s infinite;
}

@keyframes blinkIt {
    50% { opacity: .8;}
}


.clock {
    width: 200px;
    height: 200px;
    margin: 3em auto 1em;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: rgba(255,255,255,.2);
    box-shadow: 0 -2px 2px rgba(100, 100, 100, .1),
    inset 0 -2px 2px rgba(100, 100, 100, .1),
    0 -2px 2px rgba(0,0,0, .1),
    inset 0 -2px 2px rgba(0,0,0, .1);
}

.clock:before {
    content: '';
    width: 10px;
    height: 10px;
    background: #888;
    border-radius: 50%;
    position: absolute;
    z-index: 40;
}

.clock:after {
    content: '12';
    position: absolute;
    top:7px;
    z-index: 40;
    opacity: 0.1;
}

.clock .hr {
    height: 160px;
}

.clock .mn {
    height: 190px;
}

.clock .sc {
    height: 180px;
}

.clock .hr,
.clock .mn,
.clock .sc {
    display: flex;
    justify-content: center;
    position: absolute;
    border-right: 50px;
}

.clock .hr:before,
.clock .mn:before,
.clock .sc:before {
    content: '';
    position: absolute;
    border-radius: 5px;
}

.clock .hr:before {
    width: 5px;
    height: 80px;
    background: #666;
    z-index: 10;
}

.clock .mn:before {
    width: 3px;
    height: 100px;
    background: #888;
    z-index: 11;
}

.clock .sc:before {
    width: 1px;
    height: 120px;
    background: orange;
    z-index: 11;
}

.stand {
    width: 100%;
}

.stand .ukraine-blue,
.stand .ukraine-yellow {
    display: block;
    height: 1rem;
    line-height: 1;
    color: #fff;
    text-tansform: uppercase;
    text-align: center
}

.stand .ukraine-blue {
    width: 100%;
    background-color: #0057b7;
    color: #fff;
    font-size: .9em;
    line-height: 1.3
}

.stand .ukraine-yellow {
    width: 100%;
    background-color: #ffd700;
    color: #0057b7;
    font-size: 1.4em;
    line-height: .8;
    font-weight: 600;
}